div[role=application] {
	margin: 0px;
	padding: 0px;
}

div[role=region] {
	margin: 0px;
	padding: 0px;
	width: 50%;
	float: left;
}

.messageTitle {
	font-family: Verdana, Arial, sans-serif;
	margin: 5px 2px 2px 5px;
	padding: 4px 0px 3px 5px;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.messageGrid {
	text-overflow: ellipsis;
}

.trace {
	font-family: monospace;
}

.lineField {
	
}

.classField {
	
}

.pathField {
	
}

.functionField {
	
}

.functionName {
	font-weight: bold;
	color: fuchsia;
}

.varName {
	font-weight: bold;
}

.varValue {
	font-weight: bold;
	color: green;
}

.pathName {
	font-weight: bold;
	color: green;
}

.lineNumber {
	font-weight: bold;
	color: blue;
}

.className {
	font-weight: bold;
	color: purple;
}

.context,.stacktrace {
	margin: 5px 2px 2px 5px;
	padding: 4px 0px 3px 5px;
	font-size: 12px;
}

div[role=region] div[role=heading] table {
	margin: 5px 2px 2px 5px;
	padding: 0px;
	width: 100%;
	border-spacing: 1px;
}

div.errorLevel {
	height: 75px;
	width: 75px;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: center center;
}

div.count {
	width: 75px;
	font-size: 16px;
	line-height: 25px;
	height: 25px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

div.icons {
	float: left;
}

div.fields dl {
	margin: 0px 5px 0px 55px;
}

div.fields dt {
	font-weight: bold;
	float: left;
	padding: 5px 0px 5px 0px;
	width: 50px;
}

div.fields dd {
	padding: 5px 0px 5px 0px;
	text-indent: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

div.error {
	background-image: url(/images/error.png);
}

div.warning {
	background-image: url(/images/warning.png);
}

div.deprecated {
	background-image: url(/images/deprecated.png);
}

div.notice {
	background-image: url(/images/notice.png);
}

div[role=toolbar] {
	margin: 5px 0px;
	padding: 2px;
	height: 28px;
}

div[role=toolbar] h1 {
	margin: 0px;
	padding: 2px;
	float: left;
	font-size: 20px;
}

td[role=gridcell] span.errorlevel_parse {
	color: MediumVioletRed;
	font-weight: bold;
}

td[role=gridcell] span.errorlevel_compile_error {
	color: FireBrick;
	font-weight: bold;
}

td[role=gridcell] span.errorlevel_compile_warning {
	color: Sienna;
	font-weight: bold;
}

td[role=gridcell] span.errorlevel_core_error {
	color: OrangeRed;
	font-weight: bold;
}

td[role=gridcell] span.errorlevel_core_warning {
	color: DarkGoldenRod;
	font-weight: bold;
}

td[role=gridcell] span.errorlevel_recoverable_error {
	color: Sienna;
}

td[role=gridcell] span.errorlevel_error {
	color: red;
}

td[role=gridcell] span.errorlevel_user_error {
	font-style: italic;
	color: red;
}

td[role=gridcell] span.errorlevel_warning {
	color: maroon;
}

td[role=gridcell] span.errorlevel_user_warning {
	font-style: italic;
	color: maroon;
}

td[role=gridcell] span.errorlevel_notice {
	color: orange;
}

td[role=gridcell] span.errorlevel_user_notice {
	font-style: italic;
	color: orange;
}

td[role=gridcell] span.errorlevel_strict {
	color: CornflowerBlue;
}

td[role=gridcell] span.errorlevel_deprecated {
	color: RoyalBlue;
}

div[role=toolbar] input[type=text] {
	margin: 0px;
	padding: 2px;
	float: right;
	border: 1px solid #AAAAAA;
	font-size: 16px;
	height: 22px;
}

div[role=toolbar] select {
	width: 150px;
}

div[role=toolbar] .ui-selectmenu {
	float: right;
	width: 100px;
}

table[role=grid] {
	margin: 0px;
	padding: 0px;
}

div[role=document] {
	width: auto;
	margin: 0px 0px 0px 5px;
	padding: 0px;
}

.ui-widget {
	font-size: 12px;
}