div[role=application] {
	margin: 0px;
	padding: 0px;
}

div[role=region] {
	margin: 0px;
	padding: 0px;
	width: 50%;
	float: left;
}

.messageTitle {
	font-family: Verdana, Arial, sans-serif;
	margin: 5px 2px 2px 5px;
	padding: 4px 0px 3px 5px;
	font-size: 12px;
}
.context, .stacktrace {
		margin: 5px 2px 2px 5px;
	padding: 4px 0px 3px 5px;
	font-size: 12px;
}

div[role=region] div[role=heading] table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-spacing: 1px;
}

th div.Error {
	background-image: url(/web/images/Error.png);
	height: 75px;
	width: 75px;
}

th div.Warning {
	background-image: url(/web/images/Alert.png);
	height: 75px;
	width: 75px;
}

th div.Deprecated {
	background-image: url(/web/images/Burn.png);
	height: 75px;
	width: 75px;
}

th div.Notice {
	background-image: url(/web/images/Info.png);
	height: 75px;
	width: 75px;
}

div[role=toolbar] {
	margin: 5px 0px;
	padding: 2px;
	height: 28px;
}

div[role=toolbar] h1 {
	margin: 0px;
	padding: 2px;
	float: left;
	font-size: 20px;
}

td[role=gridcell] span.error {
	color: red;
}

td[role=gridcell] span.warning {
	color: maroon;
}

td[role=gridcell] span.notice {
	color: orange;
}

td[role=gridcell] span.deprecated {
	color: purple;
}

div[role=toolbar] input[type=text] {
	margin: 0px;
	padding: 2px;
	float: right;
	border: 1px solid #AAAAAA;
	font-size: 16px;
	height: 22px;
}

div[role=toolbar] select {
	width: 150px;
}

div[role=toolbar] .ui-selectmenu {
	float: right;
	width: 100px;
}

table[role=grid] {
	margin: 0px;
	padding: 0px;
}

div[role=document] {
	width: auto;
	margin: 0px 0px 0px 5px;
	padding: 0px;
}

.ui-widget {
	font-size: 12px;
}