<!DOCTYPE html>
<html lang="dk" class="no-js">
<head>
	<meta charset="ISO-8859-1">
	<title>{% block title %}Vigu{% endblock %}</title>
	{% block js %}
		<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.4-min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<![endif]-->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script>jQuery.noConflict();</script>
	{% endblock %}
	{% block css %}
		<link rel="stylesheet" href="style.css">
	{% endblock %}
</head>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>
